.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Timer h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.Timer button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}